body{
    background-color: rgb(207, 255, 158);
}
#titulo{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
#text{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
#encabezado{
    background-color: fuchsia;
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 25px rgba(223, 12, 12, 0.5);
}
.encabezado1{
    color: aqua;
}
.encabezado2{
    color: black;
}
.encabezado3{
    color: brown;
}