body{
    background-color: rgb(171, 255, 206);
}
#titulo{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
#text{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
#encabezado{
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 96%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.encabezado1{
    color: rgb(255, 0, 234);
    display:flex;
    justify-content: center;

}
.encabezado2{
    display:flex;
    justify-content: center;
    color: black;
}
.encabezado3{
    display:flex;
    justify-content: center;
    color: brown;
}
.logo{
    width: 9%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
}
.menu{
    width: 80%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
    padding: 40px 60px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: white;
    background-color: blue;
}
.redes{
    width: 9%;
    height: 100%;
    display:flex;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}